In [2]:
print(__name__)

__main__

In [3]:
print('Workbook title name is {}'.format(__name__))

Workbook title name is __main__

In [4]:
def main():
    print('Python runs code by setting a special variable __name__ which returns {}'.format(__name__))

In [5]:
if __name__ == '__main__': # To confirm if code is directly run by python
    main()

Python runs code by setting a special variable __name__ which returns __main__

In [6]:
# if __name__ == '__main__':

# Very useful to help to run codes based on whether they are imports or not

In [7]:
''' {}, {}'''.format(*(1, 'true'))

' 1, true'

In [2]:
for i in range(0, 100, 20):
    print(i)

0
20
40
60
80

In [3]:
print(range(0, 100, 20))

range(0, 100, 20)

In [1]:
import numpy as np
import pandas as pd

In [3]:
np.random.normal?

In [4]:
returns = pd.DataFrame(np.random.normal(1.0, 0.03, (100, 10)))
prices = returns.cumprod()

In [6]:
returns.cumprod?

In [5]:
prices

,0,1,2,3,4,5,6,7,8,9
0,1.069107,0.981009,1.012732,1.028312,1.061009,0.984782,0.965007,1.016800,1.024437,0.988072
1,1.112833,0.969546,0.950374,1.035019,1.058249,1.028151,0.909686,1.024503,1.005193,0.966047
2,1.127702,0.977381,0.943566,1.037356,1.035553,1.047296,0.897089,1.081588,1.020766,0.955708
3,1.074771,0.988423,0.870998,1.016157,1.048568,1.035140,0.890318,1.074680,1.035264,0.923008
4,1.045005,0.974689,0.852011,1.073864,1.017230,1.025483,0.922051,1.028492,1.018057,0.927303
...,...,...,...,...,...,...,...,...,...,...
95,1.092014,0.721252,0.769724,1.140789,0.804020,1.295840,0.912631,1.178000,0.955801,1.019315
96,1.096985,0.727904,0.749255,1.163231,0.819580,1.234829,0.926354,1.185911,0.968292,1.001630
97,1.055666,0.736371,0.739688,1.066259,0.783874,1.187318,0.965802,1.214072,0.929588,1.008060
98,1.047237,0.726775,0.734768,1.024364,0.802363,1.218542,0.939792,1.224952,0.931766,1.011913
99,0.997383,0.752766,0.728670,1.040084,0.798813,1.165095,0.982852,1.227103,0.935144,1.046847