In [1]:
import re

In [2]:
re.sub?

In [3]:
map?

In [4]:
sorted?

In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame({"A": [1, np.nan, 5], 'B': [np.nan, np.nan, 7]})

In [19]:
df.apply(lambda x: x.isna().sum()).to_frame().rename(columns={0: 'number_of_nans'})

   number_of_nans
A               1
B               2

In [14]:
df.apply(lambda x: print(x))

0    1.0
1    NaN
2    5.0
Name: A, dtype: float64
0    NaN
1    NaN
2    7.0
Name: B, dtype: float64

A    None
B    None
dtype: object

In [32]:
# import matplotlib.pyplot as plt

# fig, axes = plt.subplots(10, 3, figsize = (40, 30))

In [23]:
axes.ravel?

In [25]:
df.reset_index?

In [28]:
df.groupby().cumcount?

Object `cumcount` not found.

In [ ]:
df.groupby().cumcount

In [31]:
from tqdm import tqdm

In [34]:
pd.read_csv?

In [35]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [36]:
scaler?

In [37]:
import cudf

ModuleNotFoundError: No module named 'cudf'

In [38]:
df.mean?