In [2]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())

3
8

In [4]:
li = [1, 3, 7,3, 5, 4,4, 3]

In [5]:
set_li = set(li)

In [7]:
set_li

{1, 3, 4, 5, 7}

In [11]:
sorted_li = sorted(set_li, reverse=True)

In [14]:
sorted_li[1]

5

In [31]:
 # Print second lowest grade
python_students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [103]:
names = []
scores = []

for i in python_students:
    names.append(i[0])
    scores.append(i[1])
print(names)
print(scores)

['Harry', 'Berry', 'Tina', 'Akriti', 'Harsh']
[37.21, 37.21, 37.2, 41, 39]

In [57]:
#students_dic = {name: score for name, score in zip(names, scores)}

In [58]:
#students_dic

{'Harry': 37.21, 'Berry': 37.21, 'Tina': 37.2, 'Akriti': 41, 'Harsh': 39}

In [67]:
# Sort by values

#sort_ = sorted(students_dic.items(), key = lambda x: (x[1], x[0]))

[('Tina', 37.2),
 ('Berry', 37.21),
 ('Harry', 37.21),
 ('Harsh', 39),
 ('Akriti', 41)]

In [69]:

##print(sorted(set(scores))[1])

In [104]:
second_grade = sorted(set(scores))[1]
print(second_grade)

37.21

In [105]:
li = []
for name, score in zip(names, scores):
    if score == second_grade:
        li.append(name)
#print(li)

for i in sorted(li):
    print(i)

Berry
Harry

In [65]:
students_dic.items()

dict_items([('Harry', 37.21), ('Berry', 37.21), ('Tina', 37.2), ('Akriti', 41), ('Harsh', 39)])

In [75]:
for name, score in zip(names, scores):
    print(name, score)

Harry 37.21
Berry 37.21
Tina 37.2
Akriti 41
Harsh 39

In [106]:
n = 5
ls = [2,5]
operation = ['insert_n', 'print', 'remove_e', 'append_e', 'sort', \
                         'pop', 'reverse', 'print']

In [115]:
ls.sort?

In [113]:
ls

[2, 5]

In [142]:
li = [1, 3, 7,3, 5, 4,4, 3]
li = sorted(li)

In [143]:
print(li.pop())

7

In [144]:
a = li.remove(li[0])
print(li)

[3, 3, 3, 4, 4, 5]

In [141]:
li = li.reverse()
#print(li)

None

In [146]:
li.reverse()

In [147]:
print(li)

[5, 4, 4, 3, 3, 3]

### Testing inputs

In [1]:
n = [('insert' 0 5), ('insert',1, 10), ('insert',0,6), 'print', ('remove', 6), ('append', 9), ('append', 1), ('sort'), \
           ('print'), ('pop'), ('reverse'), ('print')]

In [ ]:
for _ in range(len(n)):
    s = input().split()
    print(s)

('insert',0, 5)
["('insert',0,", '5)']
('insert' 0 5)
["('insert'", '0', '5)']
insert 0 5
['insert', '0', '5']

In [ ]:
n = input()
l = []
for _ in range(n):
    s = raw_input().split()
    cmd = s[0]
    args = s[1:]
    if cmd !="print":
        cmd += "("+ ",".join(args) +")"
        eval("l."+cmd)
    else:
        print l

In [8]:
cmd = 'insert'
args = ['0', '5']

In [9]:
cmd + "("+ ",".join(args) +")"

'insert(0,5)'

In [10]:
','.join(['aliu', 'shola'])

'aliu,shola'

In [148]:
val1 = input("Enter the name: ")

Enter the name: Shola

In [150]:
print(type(val1))

<class 'str'>

In [151]:
print(val1)

Shola

In [152]:
val2 = input('Enter the number: ')

Enter the number: 4000

In [153]:
print(type(val2), val2)

<class 'str'> 4000

In [ ]:
if __name__ == '__main__':
    N = int(input())
    result = []
    for n in range(N):
        x = input().split(" ")
        command = x[0]
        if command == 'append':
            result.append(int(x[1]))
        if command == 'print':
            print(result)
        if command == 'insert':
            result.insert(int(x[1]), int(x[2]))
        if command == 'reverse':
            result == result[::-1]
        if command == 'pop':
            result.pop()
        if command == 'sort':
            result == sorted(result)
        if command == 'remove':
            result.remove(int(x[1]))
        print(result)

In [4]:
i = [1, 2, 3]

In [5]:
i.remove?

In [7]:
int(str(1))

1

In [11]:
a = "this is a string"

In [12]:
a.split()

['this', 'is', 'a', 'string']

In [13]:
testString1 = "Hello World!"

In [14]:
testString1.find('llo')  # Finding a string

2

In [15]:
testString1.find('xxy')

-1

In [16]:
testString1.rsplit(" ")

['Hello', 'World!']

In [17]:
a = "this is a string"

In [18]:

count = 0
for i in a:
    if i == 'i':
        count += 1
    else:
        pass

In [19]:
count

3

In [20]:
a.count('i')

3

In [22]:
a = 'ABCDCDC'
b = 'CDC'

In [27]:
a.find(b, 0)

2

In [28]:
a.find(b, 1)

2

In [ ]:
def count_substring(string, sub_string):
    count=0
    #print(len(string),len(sub_string))
    for i in range(0, len(string)-len(sub_string)+1):
        if string[i] == sub_string[0]:
            flag=1
            for j in range (0, len(sub_string)):
                if string[i+j] != sub_string[j]:
                    flag=0
                    break
            if flag==1:
                count += 1
    return count

In [ ]:
def count_substring(string, sub_string):
    counter = 0
    for c,i in enumerate(string):
        if i == sub_string[0]:
            if string[c:c+len(sub_string)] == sub_string:
                counter += 1
    return counter

In [30]:
for c,i in enumerate(a):
    print(c, i)

0 A
1 B
2 C
3 D
4 C
5 D
6 C

In [26]:
a.find?

In [ ]:
string = "GeeksforGeeksforGeeksforGeeks"

In [ ]:
def CountOccurrences(string, substring): 
  
    # Initialize count and start to 0 
    count = 0
    start = 0
  
    # Search through the string till 
    # we reach the end of it 
    while start < len(string): 
  
        # Check if a substring is present from 
        # 'start' position till the end 
        pos = string.find(substring, start) 
  
        if pos != -1: 
            # If a substring is present, move 'start' to 
            # the next position from start of the substring 
            start = pos + 1
  
            # Increment the count 
            count += 1
        else: 
            # If no further substring is present 
            break
    # return the value of count 
    return count 
  
# Driver Code 
string = "GeeksforGeeksforGeeksforGeeks"
print(CountOccurrences(string, "GeeksforGeeks"))

In [ ]:
s = 'qA2'

In [44]:
any(c.isalpha() for c in s)

True

In [43]:
any(c.isdigit() for c in s)

True

In [41]:
any(c.islower() for c in s)

True

In [45]:
any(c.isupper() for c in s)

True

In [ ]:
x = '''#$%@^&*kjnk svskjnbui h 4oi3hheuh /dfh uidshvhdsuihv suihc 0hrem89m4c02mw4xo;,wh fwhncoishmxlxfkjsahnxu83v 08 n8OHOIHIOMOICWHOFCMHEOFMCOEJMC0J09C 03J J3L;JMFC3JM3JC3'JIOO9MMJ099U N090N9 OOHOLNHNLLKNLKNKNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333000000000000000000000000000000000000000000000000000000000000000000000000000'''

In [11]:
thickness = 5               #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
    print((c*i).ljust((thickness-1)+c) + (c*i).center(thickness-1))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
string = 'ABCDEFGHIJKLIMNOQRSTUVWXYZ'
max_width = 4

In [13]:
import textwrap

def wrap(string, max_width):
    wrapper = textwrap.TextWrapper(width = max_width)
    word_list = wrapper.wrap(text=string)
    return word_list

In [15]:
result = wrap(string, max_width)

In [16]:
print(result)

['ABCD', 'EFGH', 'IJKL', 'IMNO', 'QRST', 'UVWX', 'YZ']

In [4]:
width = 20
print('HackerRank'.ljust(width,'-'))

HackerRank----------

In [31]:
len(oct(5)[2:])

1

In [19]:
n = 17
w= len('{:b}'.format(n))
for i in range(1, n+1):
    print("{0:{width}d} {0:{width}o} {0:{width}X} {0:{width}b}".format(i, width = w))

    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001

In [69]:
n = 17
width= len('{:b}'.format(n))
for i in range(1, n+1):
    dec = str(i)
    octal = oct(i)[2:]
    hex_dec = hex(i)[2:].upper()
    binary = bin(i)[2:]
    print(dec.rjust(width), octal.rjust(width), hex_dec.rjust(width), binary.rjust(width))

    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001

In [68]:
type(oct(3))

str

In [76]:
first_name = B.split()[0]
last_name = B.split()[1]
print(first_name)
print(last_name)

chris
alan

In [83]:
B = 'chris alan'

In [75]:
B.split()

['chris', 'alan']

In [91]:
full_name = []
for i in B.split():
    name = i[0].upper() + i[1:]
    full_name.append(name)

['Chris', 'Alan']

In [92]:
' '.join(full_name)

'Chris Alan'

In [96]:
a = '1 w 2 r 3g'

In [97]:
a.split()

['1', 'w', '2', 'r', '3g']

In [3]:
b = '1 2 2 3 4 5 6 7 8  9'

In [102]:
c = 'q w e r t y u i o p a s d f g h j  k l z x c v b n m Q W E R T Y U I O P A S D F G H J  K L Z X C V B N M'

In [14]:
ls = []
for i in b.split(): # To look ahead and behind
    #capitalise first letter for all
    upper = i[0].upper()
    full = upper + i[1:]
    ls.append(full)
print(' '.join(ls))

1 2 2 3 4 5 6 7 8 9

In [13]:
%time it
for x in b[:].split():
    s = b.replace(x, x.capitalize())
print(s)

NameError: name 'it' is not defined

1 2 2 3 4 5 6 7 8  9

In [16]:
a_string = b.split(' ')
print(' '.join((word.capitalize() for word in a_string)))

1 2 2 3 4 5 6 7 8  9

In [1]:
import string

In [4]:
string.capwords(b, sep= ' ')

'1 2 2 3 4 5 6 7 8  9'

In [8]:
b.split?

In [20]:
capital_country = {"United States" : "Washington", 
                   "US" : "Washington", 
                   "Canada" : "Ottawa",
                   "Germany": "Berlin",
                   "France" : "Paris",
                   "England" : "London",
                   "UK" : "London",
                   "Switzerland" : "Bern",
                   "Austria" : "Vienna",
                   "Netherlands" : "Amsterdam"}

print("Countries and their capitals:")
for c in capital_country:
    format_string = c + ": {" + c + "}" 
    print(format_string.format(**capital_country))

Countries and their capitals:
United States: Washington
US: Washington
Canada: Ottawa
Germany: Berlin
France: Paris
England: London
UK: London
Switzerland: Bern
Austria: Vienna
Netherlands: Amsterdam

In [2]:
b = '1 2 2 3 4 5 6 7 8  9'

In [8]:
c = 'AABCAAADA'

In [27]:
ls = [c[i:i+3] for i in range(0, len(c), 3)]

In [33]:
for s in ls:
    print(''.join(sorted(set(s))))

AB
AC
AD

In [ ]:
ls = [c[i:i+3] for i in range(0, len(c), 3)]

In [34]:
ls

['AAB', 'CAA', 'ADA']

In [43]:

def distinct_character(string, k):
    ls = [string[i:i+k] for i in range(0, len(string), k)]
    for i in ls:
        for x in i:
            if x not in list():
                yield list().append(x)

In [44]:
for i in distinct_character('AABCAAADA', 3):
    print(i)

None
None
None
None
None
None
None
None
None

In [59]:
ls = [c[i:i+3] for i in range(0, len(c), 3)]
print((ls))

['AAB', 'CAA', 'ADA']

In [ ]:
def distinct_character(**ls)

In [78]:
#ls = []
empty_list = []
for i in ls:
    distinct_list = [empty_list.append(x) for x in i if x not in empty_list]
print(empty_list)

['A', 'B', 'C', 'D']

In [ ]:
S, N = input(), int(input()) 
for part in zip(*[iter(S)] * N):
    d = dict()
    print(''.join([ d.setdefault(c, c) for c in part if c not in d ]))

In [90]:
# To return distinct string for substrings with a uniform length k

c =  'AABCAAADA'
K= 3

for i in range(0, len(c), K):
    distinct_string = []
    slice_str = c[i:i+K]
    for y in slice_str:
        if y not in distinct_string:
            distinct_string.append(y)
    print(''.join(distinct_string))

AB
CA
AD

In [92]:
set('1 2 3 4 5 6 7 8 9').union(set('10 1 2 3 11 21 55 6 8'))

{' ', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [93]:
set('1 2 3 4 5 6 7 8 9')

{' ', '1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [94]:
set('10 1 2 3 11 21 55 6 8')

{' ', '0', '1', '2', '3', '5', '6', '8'}

In [96]:
a = '1 2 3 4 5 6 7 8 9'

In [97]:
b = '10 1 2 3 11 21 55 6 8'

In [101]:
len(set(a.split()).union(set(b.split())))

13

In [99]:
b.split()

['10', '1', '2', '3', '11', '21', '55', '6', '8']

In [113]:
a = 16
b = '1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52'.split()
c = 4
d = 'intersection_update 10'
e = set('2 3 5 6 8 9 1 4 7 11'.split())
f = 'update 2'
g = '55 66'
h = 'symmetric_difference_update 5'
i = set('22 7 35 62 58'.split())
j = 'difference_update 7'
k = set('11 22 35 55 58 62 66'.split())

In [117]:
set('1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52'.split())

{'1',
 '10',
 '11',
 '12',
 '13',
 '14',
 '2',
 '24',
 '3',
 '4',
 '5',
 '52',
 '6',
 '7',
 '8',
 '9'}

In [119]:
b

{'1', '11', '2', '3', '4', '5', '6', '7', '8', '9'}

In [122]:
set_A = []
for i in b:
    set_A.append(int(i))
print(sum(set_A))

56

In [2]:
sorted({16,6,8,1} ^ {3,4,6,8})

[1, 3, 4, 16]

In [17]:
s = set(map(int, '2 4 5 9'.split())) ^ set(map(int, '2 4 11 12'.split()))

In [20]:
s

{5, 9, 11, 12}

In [19]:
.list(s)

[5, 9, 11, 12]

In [16]:
p

['12', '9', '11', '5']

In [31]:
for i in range(0, 8, 2):
    print(i)

0
2
4
6

In [ ]:
n,m=map(int,input().split())
l=input().split(' ')
A=set(input().split(' '))
B=set(input().split(' '))
happiness=0

for i in l:
    if i in A:
        happiness += 1
    if i in B:
        happiness -= 1
print(happiness)

In [ ]:
print(len(set([str(input()) for x in range(int(input()))])))

In [ ]:
n = int(input())
s = set(map(int, input().split())) 
for i in range(int(input())):
    eval('s.{0}({1})'.format(*input().split()+['']))

    # remove 9
    
print(sum(s))

In [29]:
s = 'remove'

In [30]:
s.split()

['remove']

In [33]:
 'intersection_update 10'.split()[0]

'intersection_update'

In [ ]:
n_a = int(input())
a = set(map(int, input().split()))
c = 2*int(input())
for i in range(0, c):
    eval('a.{0}({2})'.format(*input().split(), set(map(int, input().split()))))

print(a)