In [21]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
plt.get_cmap?

In [5]:
plt.contour?

In [7]:
plt.clabel?

In [8]:
plt.contour?

In [10]:
ax.fill_between?

In [3]:
x = np.random.rand(2)
print(type(x))

<class 'numpy.ndarray'>

In [5]:
matrix_x = np.asmatrix(x)
print(type(matrix_x))

<class 'numpy.matrix'>

In [6]:
x.shape, matrix_x.shape

((2,), (1, 2))

In [7]:
from scipy import optimize
import cvxopt as opt
from cvxopt import blas, solvers

ModuleNotFoundError: No module named 'cvxopt'

In [9]:
import itertools

In [11]:
itertools.chain?

In [13]:
np.random.choice?

In [16]:
dic = {'a':1, 'b': 2}

In [19]:
dic.get('a')

1

In [22]:
df = pd.DataFrame(np.array([[1, 1], [2, 10], [3, 100], [4, 100]]),
                  columns=['a', 'b'])

In [32]:
print(df)
print('\n')
print(df.quantile(0.025))
print(df.quantile(0.25))

   a    b
0  1    1
1  2   10
2  3  100
3  4  100


a    1.075
b    1.675
Name: 0.025, dtype: float64
a    1.75
b    7.75
Name: 0.25, dtype: float64

In [28]:
lc = df.quantile(0.025)
hc = df.quantile(0.25)

In [31]:
df.clip(lc, hc, axis=1), # (1.075, 1.065), (1.75, 7.75)

       a      b
0  1.075  1.675
1  1.750  7.750
2  1.750  7.750
3  1.750  7.750

In [35]:
data = pd.DataFrame({'col_0': [9, -3, 0, -1, 5], 'col_1': [-2, -7, 6, 8, -5]})

In [36]:
data

   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [38]:
t = pd.Series([2, -4, -1, 6, 3])

In [43]:
data.clip(t, t+4, axis=0)

   col_0  col_1
0      6      2
1     -3     -4
2      0      3
3      6      8
4      5      3

In [40]:
t+4

0     6
1     0
2     3
3    10
4     7
dtype: int64

In [41]:
data.clip?

In [44]:
df.transform?

In [46]:
import numpy as np

In [47]:
np.nan_to_num?

In [48]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [50]:
datetime.strptime?

In [51]:
start_date = '2014-01-04'
end_date = '2018-08-29'

In [53]:
(datetime.strptime(start_date, '%Y-%m-%d') - relativedelta(months=6)).strftime('%Y-%m-%d')

'2013-07-04'

In [55]:
(datetime.strptime(start_date, '%Y-%m-%d') - relativedelta(months=6))

datetime.datetime(2013, 7, 4, 0, 0)

In [56]:
numbers = [0, 1, 2]
colors = [u'green', u'purple']

In [57]:
pd.MultiIndex.from_product([numbers, colors], names=['number', 'color'])

MultiIndex([(0,  'green'),
            (0, 'purple'),
            (1,  'green'),
            (1, 'purple'),
            (2,  'green'),
            (2, 'purple')],
           names=['number', 'color'])

In [58]:
for i, j in enumerate(t):
    print(i, j)

0 2
1 -4
2 -1
3 6
4 3