In [2]:
# Difference between sorted and sort function

# Sorted returns a sorted list and can be assigned to a new variable. It does not change the list in place. However, the 
# Sort function sort the list in place

In [3]:
x = [1, 4,7,5,9,3,5,2,1,3,2,1]

In [4]:
sorted_x = sorted(x)

In [8]:
print('Original x:\t', x)
print('Sorted x:\t', sorted_x)

Original x:	 [1, 4, 7, 5, 9, 3, 5, 2, 1, 3, 2, 1]
Sorted x:	 [1, 1, 1, 2, 2, 3, 3, 4, 5, 5, 7, 9]

In [14]:
# However using sort() function, the list is changed inplace without a need to assign to another a variable

x.sort()

In [16]:
# Original variable now sorted inplace

print('Original x:\t', x)

Original x:	 [1, 1, 1, 2, 2, 3, 3, 4, 5, 5, 7, 9]

In [17]:
# To arrange in descending order

desc_x = sorted(x, reverse = True)

In [18]:
print('Descending order of x:\t', desc_x)

Descending order of x:	 [9, 7, 5, 5, 4, 3, 3, 2, 2, 1, 1, 1]

In [24]:
# To sort list in ascending order of numbers without regards to the negative

li = [-6,-4,5, 1,2,3]
s_li = sorted(li, key=abs)

In [25]:
print(s_li)

[1, 2, 3, -4, 5, -6]

In [19]:
# Sorted function on dictionaries

details = {'Age': 27, 'Career goal': 'Data analysis', 'Occupation': 'Student' }

In [20]:
sorted_details = sorted(details)

In [22]:
# This returns the ascending order of the key values in the dictionary
print(sorted_details)

['Age', 'Career goal', 'Occupation']

In [26]:
class Employee():
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    def __repr__(self):
        return f"({self.name}, {self.age}, ${self.salary})"

In [32]:
e1 = Employee('Carl', 37, 40000)
e3 = Employee('Bill', 90, 100000)
e2 = Employee('Fish', 25, 100000)

In [33]:
employees = [e1, e2, e3]

In [37]:
# define a custom function to sort on salary

def e_sort(emp):
    return emp.salary

In [38]:
s_employees = sorted(employees, key=e_sort)

In [39]:
# Employees sorted in salary
s_employees

[(Carl, 37, $40000), (Fish, 25, $100000), (Bill, 90, $100000)]

In [40]:
# To sort in ascending order of age using lambda function

s_employees = sorted(employees, key = lambda e: e.age)

In [41]:
# Employees sorted on age

s_employees

[(Fish, 25, $100000), (Carl, 37, $40000), (Bill, 90, $100000)]

In [42]:
# To sort on name using attrgetter

from operator import attrgetter

s_employees = sorted(employees, key = attrgetter('name'))

In [43]:
# Employees sorted alphatically on name
s_employees

[(Bill, 90, $100000), (Carl, 37, $40000), (Fish, 25, $100000)]

In [2]:
x = [1, 4,7,5,9,3,5,2,1,3,2,1]
average = sum(x)/ len(x)
print('{:.2f}'.format(average))

3.58